<!--to add header and compulsory -->
<%- include('common/header.ejs'); %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> This is the backend of the FNC Application doesn't contain any UI try visiting port: 8000 </h1>
        </div>
    </div>
</div>

<!--to add footer and compulsory to complete th html template-->
<%- include('common/footer.ejs'); %>

